.h2-about {
  margin: 2rem 0 0 2rem;
}

.text-about {
  margin-top: 1.2rem;
}

.text-about > section {
  padding: 1rem;
  margin-bottom: 2rem;
}

.text-about > section > article > h4 {
  margin-top: 2rem;
}

.text-about > section > article > p {
  margin: 2rem;
}
