.change-artist {
  display: block;
  margin: 0 auto;
}

.gallery {
  width: 80%;
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}

.gallery > article {
  width: 260px !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 0 3rem 0;
  align-items: center;
}
.gallery > article > a,
.gallery > article > a > figure {
  width: 260px;
}

.gallery > article > a > figure > img {
  width: 260px;
  height: auto;
}

.gallery > article > a > h3 {
  margin: 0 0 0 0;
  text-align: center;
  height: 4.5rem;
  width: 260px;
}

.gallery > article > p {
  width: 260px;
}

.gallery > article > p > a {
  color: var(--light-color);
}

.link-photo {
  width: 130px !important;
  height: 40px;
  background: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  align-content: center;
  border-radius: 50%;
}

.link-photo:hover {
  background: var(--dark-color);
  color: var(--light-color);
  border: 1px solid var(--light-color);
}
