.logo {
  width: 90%;
  margin: 0 auto 0 auto;
}

.logo > img {
  width: 100%;
  height: auto;
}

.title {
  margin: 4rem 0;
}

.text-img {
  width: 90%;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: stretch;
  justify-content: center;
}

.text {
  flex-wrap: wrap;
}

.home-artwork {
  width: 100%;
}

.home-artwork > a > img {
  width: 100%;
  min-width: 260px;
  height: auto;
}

.text-img > article {
  min-width: 260px;
  color: var(--light-color);
  border-radius: 10px;
}

.text-img > section {
  min-width: 260px;
  width: 49%;
}

.text > section {
  min-width: 260px;
  width: 47%;
  padding: 1%;
  margin-bottom: 2rem;
}

.text-img > section > h2 {
  width: 94%;
  background: var(--dark-color);
  margin: 0;
  padding: 20px;
  border-radius: 20px;
}

.text > section > article > h3 {
  color: var(--dark-color);
  margin: 0;
}

.text-img > article {
  width: 100%;
  height: 100%;
  margin: auto;
}

.text-img > section,
.text-img > article > p {
  background: #fff;
  color: var(--dark-color);
  font-size: 16px;
  border-radius: 20px;
}

.text-img > section > article > p,
.text-img > article > p {
  margin: 1rem auto 1rem 0;
}

.text-img > article > ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 10rem; */
}

.text-img > article > ul > li {
  list-style: none;
  margin: 1rem 0;
}

.picture-artwork {
  width: 193px;
  height: 144;
}

.link-artwork {
  width: 130px;
  height: 40px;
  display: block;
  background: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  margin: 1rem auto;
  align-content: center;
  border-radius: 50%;
}

.picture-photograph {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10rem;
}

.picture-photograph > article > figure img {
  width: 260px;
  height: auto;
  border-radius: 50%;
}

.link-photo {
  width: 130px;
  height: 40px;
  margin: 2rem auto 0 auto;
}

.link-photo > a {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  align-content: center;
  border-radius: 50%;
}

.link-photo a:hover {
  background: var(--dark-color);
  color: var(--light-color);
  border: 1px solid var(--light-color);
}

.gallery-home > li {
  width: 260px;
}

.gallery-home > li > h3 > a {
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gallery-home > li > a > img {
  width: 100%;
  height: auto;
  /* margin: 1rem 0; */
}
