.logo {
  width: 90%;
  margin: 0 auto 0 auto;
}

.logo > img {
  width: 100%;
  height: auto;
}

.title {
  margin: 4rem 0;
}

.text-img {
  width: 90%;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: stretch;
  justify-content: center;
}

.text {
  flex-wrap: wrap;
}

.home-artwork {
  width: 100%;
}

.home-artwork > a > img {
  width: 100%;
  min-width: 250px;
  height: auto;
}

.text-img > article {
  min-width: 250px;
  color: var(--light-color);
  border-radius: 10px;
}

.text-img > section {
  min-width: 250px;
  width: 1fr;
}

.text > section {
  min-width: 250px;
  width: 45%;
  padding: 20px;
  border-radius: 20px;
}

.text-about > section > article > h3,
.text-img > section > h2 {
  min-width: 200px;
  width: 90%;
  color: var(--dark-color);
  padding: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.text > section > article > h3 {
  color: var(--dark-color);
  margin: 0;
}

.text-img > article {
  width: 100%;
  height: 100%;
  margin: auto;
}

.text-img > section,
.text-img > article > p {
  background: #fff;
  color: var(--dark-color);
  font-size: 16px;
  border-radius: 20px;
}

.text-img > section > article > p,
.text-img > article > p {
  margin: 1rem auto 1rem auto;
}
