.logo {
  width: 90%;
  margin: 0 auto 0 auto;
}

.logo > img {
  width: 100%;
  height: auto;
}

.text-img {
  width: 90%;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 2%;
  justify-items: stretch;
}

.text-img > figure {
  width: 49%;
  height: auto;
}

.text-img > figure > img {
  width: 100%;
  height: auto;
}

.text-img > article {
  width: 49%;
  height: 100%;
  color: var(--light-color);
}

.text-img > article > p {
  background: #fff;
  color: var(--dark-color);
  font-size: 16px;
}

.picture-photograph {
  width: 80%;
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 130px;
}

.picture-photograph > article > figure img {
  width: 260px;
  height: auto;
  border-radius: 50%;
}

.link-photo {
  width: 130px;
  height: 40px;
  margin: 2rem auto 0 auto;
}

.link-photo > a {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  align-content: center;
  border-radius: 50%;
}

.link-photo a:hover {
  background: var(--dark-color);
  color: var(--light-color);
  border: 1px solid var(--light-color);
}
